@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.App {
  height: 100vh;
  font-family: var(--font-family-main);
  background-color: var(--bg-color);

  display: flex;
}

.pageWrapper {
  flex-grow: 1;

  background-color: var(--bg-color);
}