.main_content {
  padding: 40px;
}

.article {
  width: 60%;
  margin: 0 auto;
}

.image {
  img {
    width: 100%;
  }
}

.title {
  margin: 0 auto;
  width: max-content;
  border-bottom: 1px solid red;
}

.tags {
  a {
    margin-right: 15px;
    text-decoration: none;
  }
}

.author {
  a {
    text-decoration: none;
  }

  margin-top: 10px;
  margin-bottom: 30px;
}

.desc {
  p {
    line-height: var(--font-size-xl);
  }

  margin-bottom: 30px;
}

.comments {
  border: 3px solid grey;
  border-radius: 15px;
  min-height: 300px;
  padding: 20px;
}