.main_content {
  position: relative;
  padding: 40px;
}

.search {
  display: flex;
  justify-content: space-between;
}

.load {
  font-size: 46px;
  position: absolute;
  left: 45%;
  bottom: 0;
}

.sort {
  display: flex;
  margin-right: 170px;
}