.main_content {
  position: relative;
  padding: 40px;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.load {
  font-size: 46px;
  position: absolute;
  left: 45%;
  bottom: 0;
}