.main_content {
  position: relative;
  padding: 40px 40px 40px 0;
  height: 100vh;
  overflow-y: scroll;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.load {
  font-size: 46px;
  position: absolute;
  left: 45%;
  bottom: 0;
}

.sort {
  display: flex;
  margin-right: 170px;
}