.main {
  position: relative;
  width: 110px;

  &:hover {
    .list {
      display: block;
    }
  }
}

.title {
  cursor: pointer;
  border: 1px solid grey;
  padding: 5px;
}

.list {
  top: 30px;
  left: 0;
  position: absolute;
  width: max-content;
}

.item {
  cursor: pointer;
  list-style: none;
  padding: 3px;
  border: 1px solid grey;
  background: white;

  &:hover {
    background: grey;
  }
}