.main {
  display: flex;
}

.sort_fresh,
.sort_popular {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  padding: 7px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;

  &:hover {
    border: 2px solid var(--secondary-color);

  }
}

.sort_fresh {
  margin-right: 10px;
}

.active {
  background-color: var(--secondary-color);
}