.App.light,
.ReactModal__Overlay.light {
  --bg-color: #F2F2F2;

  --primary-color: #231F20;
  --secondary-color: #17cc54;

  --icons-fill: var(--black);

  --main-box-shadow: 0 24px 38px 3px hsla(0, 0%, 0%, 0.14),
    0 9px 46px 8px hsla(0, 0%, 0%, 0.12),
    0 11px 15px -7px hsla(0, 0%, 0%, 0.2);

  --collapse-btn-box-shadow: 3px 3px 3px rgba(0 0 0 0.5)
}