.comment {
  border: 1px solid grey;
  border-radius: 15px;
  margin-bottom: 50px;
}

.profile {
  display: flex;
  align-items: center;
  padding: 15px 15px 10px 15px;
  border-bottom: 1px dotted red;
}

.avatar {
  width: 64px;
  border-radius: 50%;
}

.desc {
  margin-left: 20px;

  p {
    cursor: pointer;
    color: rgba(0, 0, 255, 0.512);
  }
}

.content {
  padding: 15px;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
}