.main {
  align-self: center;
  position: relative;
  margin-right: 50px;
  width: 200px;

  &:hover {
    background-color: var(--secondary-color);

    .list {
      display: block;
    }
  }
}

.title {
  cursor: pointer;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 5px;
}

.list {
  top: 30px;
  left: 0;
  position: absolute;
  width: max-content;
}

.item {
  cursor: pointer;
  list-style: none;
  padding: 3px;
  border: 2px solid var(--primary-color);
  background: var(--bg-color);

  &:hover {
    background: var(--secondary-color);
  }
}